.manage {
  padding: 30px;
  margin-left: 310px;
  margin-top: -20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title__left {
  font-size: 32px;
}

.another__location {
  color: var(--green-bold);
}

.title__location span {
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  margin-top: 30px;
  display: flex;
  column-gap: 30px;
}

.content__left {
  width: 300px;
  background-color: var(--blue-black);
  padding: 30px 15px;
  height: max-content;
}
.content__left img {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.content__left a {
  margin-top: 20px;
  display: block;
  background-color: #7c0000;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}

.content__left a:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.function {
  margin-top: 40px;
  position: relative;
}

.function::after {
  top: -20px;
  left: 0;
  display: block;
  content: "";
  background-color: #ccc;
  height: 1px;
  width: 100%;
  position: absolute;
}
.content__left a:nth-child(2) {
  background-color: #d9105c;
}

.content__right {
  width: calc(100% - 300px);
  background-color: var(--blue-black);
  padding: 20px 30px;
}

.content__right h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.content__right p {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 15px;
}

.info {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 18px;
  column-gap: 20px;
  row-gap: 30px;
}
.text label {
  display: block;
  margin-bottom: 10px;
}

.text input,
.text p,
.text select {
  font-family: "Mulish-Regular";
  font-size: 18px;
  padding: 15px;
  width: 340px;
  background-color: var(--blue-black);
  color: var(--white-text);
  outline: none;
  border: none;
  border: 1px solid #ccc;
}

.text p {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.text select {
  width: 370px;
}

.button {
  margin-top: 120px;
  padding: 15px;
  width: 200px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: var(--green-bold);
  text-transform: uppercase;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.content__leftdown {
  margin-top: 20px;
  background-color: var(--blue-black);
  padding: 30px 15px;
}

.content__leftdown h2 {
  font-family: "Mulish-Bold";
  font-size: 24px;
}

.team__wrap {
  margin-top: 20px;
  max-height: 350px;
  overflow-y: scroll;
}

.team__wrap a:hover p{
  color: var(--green-bold);
}

.team__wrap p img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.team__wrap p {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.content__leftdown p:first-child {
  font-size: 18px;
  color: var(--white-text);
}
.content__leftdown p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #ccc;
}
.content__leftdown p::after {
  bottom: -10px;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
}

.pageItem {
  margin-top: 15px;
  margin-left: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: max-content;
  transition: 0.5s;
  cursor: pointer;
}

.pageItem.active,
.pageItem:hover {
  background-color: var(--green-bold);
  color: var(--black-text);
  border: 1px solid transparent;
}

.pageItem:hover .pagelink {
  color: var(--blue-black);
}

.pagelink {
  color: var(--white-text);
  display: inline-block;
  padding: 10px 15px;
}
.pagingTournament {
  width: max-content;
  margin: 0 auto;
  margin-top: 20px;
  /* margin-bottom: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageItem.active,
.pageItem:hover {
  background-color: var(--green-bold);
  color: var(--black-text);
  border: 1px solid transparent;
}


.wrapReport{
  background-color: var(--blue-black);
  margin-top: 30px;
  padding: 20px;
}

.wrapReport h2{
  font-size: 24px;
  font-family: "Mulish-Bold";
  margin-bottom: 20px;
}
.wrapReport h2::after{
  display: block;
  content: "";
  height: 3px;
  background-color: var(--white-text);
  width: 250px;
  margin-top: 15px;
}

.wrapReport {
  margin-top: 30px;
  background-color: var(--blue-black);
  padding-bottom: 40px;
}

.wrapReport table {
  width: 100%;
  margin-bottom: 30px;
}

.wrapReport table th,
.wrapReport table td {
  padding: 30px 15px;
  font-size: 18px;
}

.wrapReport tr {
  text-align: center;
  position: relative;
}

.wrapReport tr::after {
  display: block;
  content: "";
  position: absolute;
  height: 1px;
  width: 96%;
  background-color: #ccc;
  bottom: 0;
  left: 15px;
  right: 30px;
}
.wrapReport td:first-child,
.wrapReport th:first-child {
  text-align: left;
}

.wrapReport td:last-child,.wrapReport th:last-child{
  width: 245px;
}
.wrapReport table th {
  font-family: "Mulish-Bold";
}

.titleWarning{
  border-radius: 5px;
  margin-top: 30px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #d9105c;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  position: relative;
}

.titleWarning::before{
  display: block;
  content: "";
  width: 100%;
  left: 0;
  top: -15px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
}
.contentWarning{
  font-size: 18px;
}
.no_before_icon::before {
  display: none !important;
}